[data-testid="stAppViewContainer"] {
    background-image: url("https://lh3.googleusercontent.com/pw/ABLVV84DupFjYWQK-wzfAZoAP2HDFg80GdR_Ge2NhcQYH7PG6PuD08IjBhR_SUI02qbUJxije4oOTXTiUPYVOxPXAlz7Ye0Y9OH39uIJ0iG6E-8VNBU0eKfjBdkQtKA9V-qpCnRQKdKa4iHP40excA0gzZo_TZD7QXdSo4eVornnIWPfO_E0ZzqssvV8-AD3d8SYU4THj9o-SEAmdlvCYe9CeuAlTJZ46b7C0Q29n-FX1WBrqn3l989D4TGr2DKPneS3rP5JYfBRoZYxJYFzu76Jgaur1bELNX8vz2N-X4hmGZSUKGVHlhz-OrL5-XbxYwVyUdrCiOUIUL0hDQA3_yUSnWYEKLSeYDnmZCPSCt48BaR_R3H_WuK6wt0qs47CSo9Nn_RipnVuuC8rCZH6FHs4Utbz3vSs-kAUcDoMmkpQT5It6eiAU8RUfWg-eYsYVhpLhPQU-vdSU3j5Jj6pZv1UjtPHLN_FZ1AiMHbWGUh8EWKOLI8DtifOirNoW8cg6u2pSNqz6bwOYTCTrN7rsPL4AlktClKL61x4lHLk6tSjEl14AhGJsUiGYBqIObLy8Px8WqFPTMZ0K4Pr2b6M5UYdBirgkXnlBVWkwED4gH7qf-j9wbymMa8Dg0g-hTStyn6jmoWmBe_VzivZoPVyi1tfo5wSw03P_TkCMI-Xed384D6At9i5rNPeiuG39Fecc6WXZkYLA1B3zE-IvENgiaiiNUgcmB2eatKy1gkO7ZdRtCxMXqLIDVYtXqfiMPnR60I-03u1F0bXfbMmHRkAEPHTO3_Aj1GjfxzOjkX71B1n6Y2SAYrGkdcIuW284kVyzT43XTPMc6F58IFcOTrlsT_BvAtyWhkF77BEdfgdE06xxZVrLaT0fBFoG8ojRzXWF3WpXF3YRloTbv4rj-lXU6AUWAsNgENyAbBacEwObP9g917k7xkGJCP_6OteFJc=w598-h374-s-no-gm?authuser=1");
    background-size: cover;
}

.st-emotion-cache-ue6h4q {
    color: rgb(255 255 255);
}

.st-emotion-cache-5rimss {
    color: rgb(255 255 255);
}